{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Deportes ROPF</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/logoDPR.png" rel="icon">
  <link href="static/assets/img/logoDPR.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">
      <a href="index.html" class="logo me-auto me-lg-0"><img src="static/images/logoDPR.png" id = "logopagina"alt="" class="img-fluid"></a>
      <h1 class="logo me-auto me-lg-0"><a href="index.html">Deportes ROPF<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Inicio</a></li>
          <li><a class="nav-link scrollto" href="/about">¿Quienes somos?</a></li>
          <li><a class="nav-link scrollto" href="/services">Servicios</a></li>
          <li><a class="nav-link scrollto " href="/galeria">Galeria</a></li>
          <li><a class="nav-link scrollto" href="/team">Ver Perfil</a></li>

          {% if not request.user.is_authenticated %}
          <li><a class="nav-link scrollto" href="/signup">Registrate</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="/logout">Cerrar Sesión</a></li>
          {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% if not request.user.is_authenticated %}
      <a class="get-started-btn scrollto" href="/login">Bienvenido</a>
      {% endif %}

    </div>
  </header><!-- End Header -->

  <!-- ======= #hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Desafíate a ti mismo!<span></span></h1>
          <h2>🧠 Entrenamientos personalizados</h2>
          <h2>📚 Articulos sobre deporte</h2>
          <h2>🏋️ Asesoría deportiva</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box"><img src="static/images/musculo.png" id="musculo" alt="" class="img-fluid">
            <h3><a href="">Entrena con nosotros</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box"><img src="static/images/mancuerna.png" id="mancuerna" alt="" class="img-fluid">
            <hr>
            <h3><a href="">Asesorías deportivas.</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box"><img src="static/images/corazon.png" id="corazon" alt="" class="img-fluid">
            <h3><a href="">Hábitos saludables.</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box"><img src="static/images/brocoli.png" id="brocoli" alt="" class="img-fluid">
            <h3><a href="">Mejora tu ánimo.</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End #hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row align-items-start">
          <!--<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">-->
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Bienvenido/a a DeporteROPF.</h3>
            <p class="fst-italic">
              Mi nombre es Rodrigo Arriaza, soy un apasionado preparador físico con más de 3 años de experiencia trabajando en la mejora del bienestar y 
              la capacidad física de mis clientes. Mi trayectoria me ha llevado a tener el privilegio de guiar y asistir a más 
              de 20 personas en su camino hacia el logro de sus metas físicas y de salud, adaptándome a las necesidades y 
              objetivos de cada uno para asegurar el éxito en su jornada. Con base en Gacitúa, he creado un espacio exclusivo en mi gimnasio en casa, un lugar seguro 
              y equipado con todo lo necesario para brindar entrenamientos personalizados y orientados a resultados. 
              Este entorno controlado y familiar facilita una conexión más cercana y confiable con cada uno de mis entrenados, permitiendo desarrollar rutinas específicas que se alinean perfectamente con las metas individuales.
            </p>
            <p>
              Mi experiencia no se limita al gimnasio; he tenido el privilegio de colaborar con:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Escuelas de Fútbol.</li>
              <li><i class="ri-check-double-line"></i> Talleres deportivos Municipales.</li>
              <li><i class="ri-check-double-line"></i> Taller de entrenamiento funcional.</li>
            </ul>
            
          </div>
          <div class="col-lg-6 video-container" data-aos="fade-left" data-aos-delay="100">
            <video id="video" class="img-fluid" controls preload="metadata">
              <source src="static/images/video_proyecto.mp4" type="video/mp4">
            </video>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("static/images/peques.JPG");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class='bx bx-wink-smile'></i>
              <h4>Nuestros Objetivos son:</h4>
              <p>Generar un vínculo más allá de el trabajo, creando un ambiente donde logre explotar todas su condiciones físicas y teniendo un lazo más directo 
                con los objetivos de cada entrenado, de esta manera cambiar la vida de cada cliente</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-heart"></i>
              <h4>Nuestra Visión:</h4>
              <p>Ser reconocidos como el principal centro de bienestar de la comuna, donde las personas no solo van a entrenar, 
                sino a vivir una experiencia transformadora. Queremos que, al pensar en salud, fitness y comunidad, las personas piensen en nuestro gimnasio como su primera opción.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-dumbbell"></i>
              <h4>Nuestra Misión</h4>
              <p>Ofrecer un espacio seguro y motivador donde las personas de todas las edades y niveles de habilidad puedan mejorar su salud física y mental, 
                a través de una variedad de actividades físicas y programas diseñados. Nuestro compromiso es brindar herramientas, atención 
                personalizada y educación a nuestros miembros, para que logren sus objetivos y se sientan parte de una comunidad que valora el bienestar integral.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Servicios</h2>
          <p>Lo que tenemos para ti:</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-wink-smile"></i></div>
              <h4><a href="">Entrenamientos personalizados</a></h4>
              <p>Realiza ejercicios de acuerdo a lo que necesites, ya sea por salud, por bienestar tanto mental como físico e incluso si necesitas rehabilitación deportiva.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-book-heart"></i></div>
              <h4><a href="">Planes o referencias alimenticias</a></h4>
              <p>Informate acerca de lo que le hace bien o mal a tu cuerpo, una parte importante del entrenamiento es cómo te alimentas.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-user-voice"></i></div>
              <h4><a href="">Asesorías Deportivas</a></h4>
              <p>Reúnete con nuestro entrenador para hacer seguimiento de tu progreso o cualquier duda que tengas.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/images/Thomas.jpg" class="testimonial-img" alt="">
                <h3>Thomas Castro</h3>
                <h4>Ingeniero Constructor</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Por supuesto que ha sido todo un agrado entrenar aquí, el ambiente es grato y me sirve para relajarme.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/images/Jayson.jpg" class="testimonial-img" alt="">
                <h3>Jayson Norambuena</h3>
                <h4>Estudiante</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Debido a mis clases me he ausentado un tiempo, pero admito que me encantó ir al gimnasio.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/images/yo.jpg" class="testimonial-img" alt="">
                <h3>Ignacio Orellana</h3>
                <h4>Ingeniero Informático</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Llevo años entrenando con Rodrigo, espero que sigan siendo muchos años más.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Equipo</h2>
          <p>Ve quienes forman parte de nuestro equipo:</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/images/rodri.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rodrigo Arriaza</h4>
                <span>Preparador Físico, dueño del Gimnasio.</span>
              </div>
            </div>
          </div>

          <!--<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="static/images/nacho.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ignacio Orellana</h4>
                <span>Desarrollador Web</span>
              </div>
            </div>
          </div>
        </div>-->

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contactos</h2>
          <p>Contactáte con nosotros ante cualquier duda</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Estamos ubicados en:</h4>
                <p>La Higuera #1045 / Isla de Maipo</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Correo:</h4>
                <p>RodrigoArriaza@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefono:</h4>
                <p>+56 9 7504 2684</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Tu correo" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Escribenos tus dudas 😊" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado. Gracias!</div>
                <div class="sent-message"></div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Deportes ROPF<span></span></h3>
              <p>
                La Higuera #1045 <br>
                Santiago de Chile, Isla de Maipo<br><br>
                <strong>Phone:</strong> +56 9 7199 4790<br>
                <strong>Email:</strong> Rodrigo Arriaza@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links de Ayuda</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">¿Quiénes Somos?</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Galeria</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Politicas privadas</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Ignacio Orellana</span></strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Diseñado por <a href="#">IO</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>