{% extends "base.html" %}

{% block title %}
Planes
{% endblock title %}

{% block head %}
<h1>Bienvenido a nuestros Planes</h1>
{% endblock head %}

{% block body %}
<div class="presentacion">
    <div class="img">
        <img src="static/images/rodri2.JPG">
    </div>
    <div class="plan-info">
        <div class="plan-texto">
            <h1>Bienvenido a nuestro plan: {{ p.nombre_plan }}</h1>
            <h2>{{ p.duracion }}</h2>
            <p>{{p.descripcion}}</p>
            <p>{{p.beneficio}}</p>
        </div>
        <div class="precio-btn">
            <a href="">Contratar Plan</a>
        </div>
    </div>
</div>
{% endblock body %}

<h1> Bienvenido a nuestro plan: {{ p.nombre_plan }}</h1>
    <div class="container">
        <div class="row">
            <p> Descripción del plan: {{ p.descripcion }}</p>
        </div>  