{% extends "base.html" %}

{% block title %}
Planes
{% endblock title %}

{% block head %}
<h1>Bienvenido a nuestros Planes</h1>
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row-plans">
        {% for p in plan %}
        <div class="col-md-4">
            <div class="card" >
                <div class="card">
                    <img class="imagen-card"   src="static/images/foto.JPG" >
                    <h5 class="card-title">{{ p.nombre_plan }}</h5>
                    <p class="card-text">{{ p.descripcion }}</p>
                    <form action="" method="post">{% csrf_token %}
                        <button type="submit" value="{{p.id}}" name="id" class="card-button">ver detalles</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
